.card {
background-color: #ffffff;
border: 1px solid rgba(0,0,0, 0.2);
border-radius: 10px;
display: inline-block;
margin: 20px;
max-width: 300px;
-webkit-box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.28);
-moz-box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.28);
box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.28);
text-align: center;
min-width: 300px;
}

/*
.card:hover {
    box-shadow: 0px 0px 15px -1px rgba(0,0,0, 0.8);
}
*/

.card__image__container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #eee;
    height: 190px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    border-radius: 10px 10px 0 0;
}

.card__info__box {
    margin: 20px 0;
    padding: 5%;
}

.card__button {
        background-color: #eee;
        color: #000;
        border-radius: 7px;
        font-size: 1.3rem;
        font-weight: bold;
        padding: 12px;
        border: 0;
        width: 50%;
        margin: 25px auto;
    }